@model Assignment2MOT.VechAppoint

@{
    ViewBag.Title = "Vehicle Appointment Details";
}

<h2>Vehicle Appointment Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VechOwner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VechOwner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VechAppointTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VechAppointTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VechRegNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VechRegNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOTCentre.CentreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTCentre.CentreName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VechAppointId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
