@model IEnumerable<Assignment2MOT.MOTCentre>

@{
    ViewBag.Title = "MOT Centres";
}

<h2>MOT Centres</h2>

<p>
    @Html.ActionLink("Create New MOT Centre", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Centre Name
        </th>
        <th>
            Address
        </th>
        <th>
            Contact Number
        </th>
        <th>
            County
        </th>
        <th>
            Opening Hours
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CentreName)
        </td>

        <td>
            @{string[] splitStr = item.CentreAddress.Split(',');}
            @for (int i = 0; i < splitStr.Length; i++)
            {
                if (i == (splitStr.Length - 1))
                {
                    @splitStr[i].Insert(4, " ");
                }
                else
                {
                    @splitStr[i] <br />
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CentreTeleNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CentreCounty)
        </td>
        <td>
            @{ string[] weekArray = new string[7];}
            @foreach (var time in item.CentreTimes)
            {
                string dayString;
                dayString = " " + time.OpeningTime.ToString(@"hh\:mm") + " - " + time.ClosingTime.ToString(@"hh\:mm");

                switch (time.DayOfTheWeek)
                {
                    case 1:
                        weekArray[1] = "Monday:" + dayString;
                        break;
                    case 2:
                        weekArray[2] = "Tuesday:" + dayString;
                        break;
                    case 3:
                        weekArray[3] = "Wednesday:" + dayString;
                        break;
                    case 4:
                        weekArray[4] = "Thursday:" + dayString;
                        break;
                    case 5:
                        weekArray[5] = "Friday:" + dayString;
                        break;
                    case 6:
                        weekArray[6] = "Saturday:" + dayString;
                        break;
                    case 0:
                        weekArray[0] = "Sunday:" + dayString;
                        break;
                    default:
                        break;
                }
            }
            @for (int i = 0; i < 7; i++)
            {
                if (weekArray[i] != null)
                {
                    @weekArray[i] <br/>
                }
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CentreId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CentreId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CentreId })
        </td>
    </tr>
}

</table>
